
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/*----------------------------------------------------------------Body */
body {
    opacity: .95;
    /* scrollbar */
    overflow-y: overlay;

    /* background */
    background: url("/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;

    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;

    background-color: rgba(255, 255, 255, 0.2); /* ????????????????? */

    /* font */
    color: rgb(158, 135, 99);

    /* indentation */
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

/*----------------------------------------------------------------Flex header panel */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.flex-elem {
    padding: 5px;
    padding-bottom: 2px;
    width: 200px;
    height: 30px;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: rgb(235, 220, 189);
    border-radius: 24% 41% 31% 9%/44% 6% 32% 40%;
    border: 1px solid #ccc;

    font-size: 18px;
}

.flex-elem:hover {
    cursor: pointer;
    background-color: rgb(235, 208, 156);
    border-radius: 24% 41% 31% 9%/44% 6% 32% 40%;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: rgb(126, 105, 71);
}

a:visited {
    text-decoration: none;
    color: rgb(126, 105, 71);
}

/*----------------------------------------------------------------Main table */
table{
    text-align: center;
    border-collapse: collapse;
    width:100%;

    table-layout: fixed;

    background-color: rgba(197, 178, 146, 0.8);

    backdrop-filter: blur(4px); /* blur effect to the backdrop */

    font-family: 'Roboto', sans-serif;
}
.tbl-header {
    width:97%;
}
.tbl-content {
    height:400px;
    width:97%;
    overflow-x:auto;
    overflow-y:overlay;
    margin-top: 0px;
}
th {
    background-color: rgba(109, 109, 109, 0.3);
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;

    border: 1px solid rgba(255,255,255,1);
}
td {
    border: 1px solid #DDD;
    border-top: 1px solid rgba(255,255,255,0);
    empty-cells: show;

    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}


/*----------------------------------------------------------------Form */
.form {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    padding: 20px;
    width: 420px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #CEB797, #F9EBD0);
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    min-height: 200px;
    height: auto;
}

.input_field {
    margin-bottom: 8px;
}

.input_error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

.form input {
    outline: none;
    display: block;
    width: 100%;
    border-radius: 14px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.form textarea {
    outline: none;
    display: block;
    width: 100%;
    border-radius: 14px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px dashed #FFA172;
    resize: none;
    height: 2.8em;
    max-height: 150px;

}

.form-button {
    outline: none;
    align-self: center;
    width: 80%;
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
    background-color: #888;
    color: #fff;
    transition: .4s;
}

.form-button:hover {
    width: 90%;
    cursor: pointer;
    border-color: orange;
    background-color: orange;
    border-radius: 14px;
    font-size: 14px;
}

.form input:valid:not(:placeholder-shown) {
    border: 1px solid green;
}

/*.form input:invalid:not(:placeholder-shown) {*/
/*    border: 1px solid red;*/
/*}*/
.form input:invalid:not(:placeholder-shown) + .input_error {
    display: block;
}

.form input:required {
    border: 1px dashed #FFA172;
}

.form input:focus {
    transform: translateX(3px);
}

form {
    width: 450px;
    min-height: 400px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(45deg, #CEB797, #F9EBD0);
}

button {
    display: inline-block;
    color: rgb(104, 89, 64);

    width: 240px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 10px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 5% auto;
    letter-spacing: 0.05em;
}

.submit-button {
    background-color: #CEB797;
    color: #fff;
}

.interact-button {
    width: 48%;
    float: left;
    margin-left: 2%;

    background-image: linear-gradient(225deg, #CEB797, #F5EACC);
    border-radius: 10px;
}

button:hover {
    transform: translatey(3px);
}

form a:link {
    text-decoration: none;
    color: rgba(34, 83, 160, 1);
}

.form input:valid:not(:placeholder-shown) {
    border: 1px dashed #FFA172;
}