<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>{{title}}</title>

</head>
<body>
<header>
    <div class="flex-container">
        <a href="/"><div class="flex-elem">Main Page</div></a>
        <div class="flex-elem">Search</div>
        <div class="flex-elem">Registration</div>
        <div class="flex-elem">LogIn</div>
    </div>
</header>
<br><br>
<main>
    {{#firstVisit}}
        <form class="form" action="/addForecastRecord" method="POST">

            <h2 align="center">Weather Forecast</h2><br>

            <div class="input_field">
                <input  id="city" name="city" type="text" placeholder="city" required />
            </div>

            <div class="input_field">
                <input id="day" name="day" type="date" min="{{minDate}}" max="{{maxDate}}" required />
            </div>

            <button name="signin" class ="form-button submit-button" type="submit">Подтвердить</button>

        </form>
    {{/firstVisit}}
    {{^firstVisit}}
        <div class="flex-container">
            <form class="form" action="/addForecastRecord" method="POST">

                <h2 align="center">Weather Forecast</h2><br>

                <div class="input_field">
                    <input  id="city" name="city" type="text" placeholder="city" required />
                </div>

                <div class="input_field">
                    <input id="day" name="day" type="date" min="{{minDate}}" max="{{maxDate}}" required />
                </div>

                <button name="signin" class ="form-button submit-button" type="submit">Подтвердить</button>
                {{#jsonParsingStatus}}
                {{/jsonParsingStatus}}
                {{^jsonParsingStatus}}
                    <div align="center">
                        <span>You typed wrong city name!</span>
                    </div>
                {{/jsonParsingStatus}}
            </form>

            <form class="form" action="/saveItinerary" method="POST">
                <h2 align="center">Itinerary Planner</h2><br>
                <br>
                <div class="input_field">
                    <input  id="itineraryName" name="itineraryName" type="text"
                            placeholder="Give it a name" required />
                </div>
                <div>
                    <button class="interact-button" type="submit">Save Itinerary</button>
                    <a href="/showAllItineraries"><button class="interact-button" type="button">Show All Itineraries</button></a>
                </div>
                {{#NoRecordsToMakeItinerary}}
                    <div align="center">
                        <span>No records to make itinerary!!! Please add some first</span>
                    </div>
                {{/NoRecordsToMakeItinerary}}
                {{^NoRecordsToMakeItinerary}}
                {{/NoRecordsToMakeItinerary}}
                {{#itinerarySaved}}
                    <div align="center">
                        <span>Itinerary Saved</span>
                    </div>
                {{/itinerarySaved}}
                {{^itinerarySaved}}
                {{/itinerarySaved}}
            </form>
        </div>
    {{/firstVisit}}

    {{#emptyTable}}
    {{/emptyTable}}
    {{^emptyTable}}
        <div class="flex-container">
        {{#citiesAdded}}
            <a href="/filterForecastRecords?city={{.}}#focusOnTable"><div class="flex-elem">{{.}}</div></a>
        {{/citiesAdded}}
        {{#filteredResultDisplayed}}
            <a href="/filterForecastRecords?city=showAll#focusOnTable"><div class="flex-elem">Show All</div></a>
        {{/filteredResultDisplayed}}
        {{^filteredResultDisplayed}}
        {{/filteredResultDisplayed}}
        </div>

        <br><br>
        <div align="center" id="focusOnTable">

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                        <th>City Name</th>
                        <th>Country Code</th>
                        <th>Temperature (C)</th>
                        <th>Cloudiness (%)</th>
                        <th>Rain</th>
                        <th>Snow</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {{#forecastRecords}}
                            <tr>
                                <td>{{day}}</td>
                                <td>{{time}}</td>
                                <td>{{cityName}}</td>
                                <td>{{countryCode}}</td>
                                <td id="temperatureValue">{{temperature}}</td>
                                <td>{{cloudiness}}</td>
                                <td>
                                    {{#rain}}
                                        Possible rain, <br>
                                        Please take an umbrella
                                    {{/rain}}
                                    {{^rain}}
                                        No rain
                                    {{/rain}}
                                </td>
                                <td >
                                    {{#snow}}
                                        Cold weather, <br>
                                        Consider take a coat
                                    {{/snow}}
                                    {{^snow}}
                                        No snow
                                    {{/snow}}
                                </td>
                            </tr>
                        {{/forecastRecords}}
                    </tbody>
                </table>
            </div>

        </div>
    {{/emptyTable}}
</main>
<br><br><br><br>
</body>
</html>