<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>{{title}}</title>

</head>
<body>
<header>
    <div class="flex-container">
        <a href="/"><div class="flex-elem">Main Page</div></a>
        <div class="flex-elem">Search</div>
        <div class="flex-elem">Registration</div>
        <div class="flex-elem">LogIn</div>
    </div>
</header>
<br><br>
<main>
    {{#emptyItineraryTable}}
        <div align="center">
            <h2>You didn't add any itineraries, so nothing to show here.</h2>
        </div>
    {{/emptyItineraryTable}}
    {{^emptyItineraryTable}}
        <div class="flex-container">
            {{#itineraryNames}}
                <a href="/filterItineraries?name={{.}}"><div class="flex-elem">{{.}}</div></a>
            {{/itineraryNames}}
            {{#filteredItineraryDisplayed}}
                <a href="/filterItineraries?name=showAll"><div class="flex-elem">Show All</div></a>
            {{/filteredItineraryDisplayed}}
            {{^filteredItineraryDisplayed}}
            {{/filteredItineraryDisplayed}}
        </div>

        <br><br>
        <div align="center">

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th>Itinerary Name</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>City Name</th>
                        <th>Country Code</th>
                        <th>Temperature (C)</th>
                        <th>Cloudiness (%)</th>
                        <th>Rain</th>
                        <th>Snow</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {{#itinerariesList}}
                        <tr>
                            <td>{{itineraryName}}</td>
                            <td>{{day}}</td>
                            <td>{{time}}</td>
                            <td>{{cityName}}</td>
                            <td>{{countryCode}}</td>
                            <td id="temperatureValue">{{temperature}}</td>
                            <td>{{cloudiness}}</td>
                            <td>
                                {{#rain}}
                                    Possible rain, <br>
                                    Please take an umbrella
                                {{/rain}}
                                {{^rain}}
                                    No rain
                                {{/rain}}
                            </td>
                            <td >
                                {{#snow}}
                                    Cold weather, <br>
                                    Consider take a coat
                                {{/snow}}
                                {{^snow}}
                                    No snow
                                {{/snow}}
                            </td>
                        </tr>
                    {{/itinerariesList}}
                    </tbody>
                </table>
            </div>

        </div>
    {{/emptyItineraryTable}}
</main>
<br><br><br><br>
</body>
</html>